.btn {
  display: inline-block;
  background-color: plum;
  color: black;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  border: 3px antiquewhite solid;
}
.btn:not(:last-child) {
  margin-right: 15px;
}
